
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>My Octopress Blog</title>
  <meta name="author" content="Your Name">

  
  <meta name="description" content="In this post, I will share some common gems that we use for building RoR applications. bcrypt Sometimes, we build user authentication features &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://ryan715.github.io">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="My Octopress Blog" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/lib/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  

</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">My Octopress Blog</a></h1>
  
    <h2>A blogging framework for hackers.</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="https://www.google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:ryan715.github.io" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2015/10/01/some-common-gems-for-we-build-ruby-on-rails-applications/">Some Common Gems for We Build Ruby on Rails Applications</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2015-10-01T11:16:53+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>In this post, I will share some common gems that we use for building RoR applications.</p>

<h6>bcrypt</h6>

<p>Sometimes, we build user authentication features without the use of a devise gem. To solve the storing of passwords we use bcrypt. It allows you to easily store a secure hash of users passwords.</p>

<p>Follow some steps below
1. Install
In your Gemfile, add codes below</p>

<pre><code>gem 'bcrypt'
</code></pre>


<p>then run &ldquo;bundle install&rdquo; commands.
2. Migrate your user table</p>

<pre><code>add_column :table_name, :password_digest, :string
</code></pre>


<p>3.Update user model file.
In your users model file, add the code below</p>

<pre><code> has_secure_password
</code></pre>


<p>That&rsquo;s it.</p>

<h6>simple_form</h6>

<p>We always encounter CURD tasks when we build an admin    dashboard. A simple form gem is really the best option, it can help us to solve a ton of html tags problems.</p>

<p>Basic Usage</p>

<pre><code>＃ definition form url
<%= simple_form_for @post do |f| %>
＃ model collection, dropdown list html tag
<%= f.input :user_id, collection @users %>
＃ textfield html tag
<%= f.input :content %>
＃ submit
<%= f.submit '提交' %>
<% end %>
</code></pre>


<h6>annotate</h6>

<p>You don&rsquo;t always know the schemas when you look at the models. Try annotate gem, it helps you to add comment summaraizing to the current schema.
When you have installed and run &lsquo;bundle exec annotate&rsquo;, you will find it is very clear to understand models. Like this:</p>

<pre><code># == Schema Information
# Table name: users
#  id              :integer          not null, primary key
#  nickname        :string(255)
#  created_at      :datetime         not null
#  updated_at      :datetime         not null
#  password_digest :string(255)
#  remember_token  :string(255)
#

class User < ActiveRecord::Base
  before_save { self.email = email.downcase }
  before_create :create_remember_token
</code></pre>


<h6>will_paginate</h6>

<p>In Ruby on Rails world, To develop paginate feature is really easy, will_paginate gem helps you to handle a lot of things about pagination.</p>

<p>How to use? There is a post class need to paginate.</p>

<pre><code>
＃ In model
@posts = Post.paginate(page: params[:paeg]
＃ or 
@posts = Post.paginate(page: params[:page], per_page: 10)
＃ In page
<%= will_paginate @posts %></code></pre>


<h6>puma</h6>

<p>Unlike other Ruby Webservers, Puma was built for speed and parallelism. Puma is a small library that provides a very fast and concurrent HTTP1.1 server for Ruby web applications. It is designed for running Rack apps only.</p>

<p>You can install puma gem very easily, add codes below in your gemfile.</p>

<pre><code>gem 'puma'
</code></pre>


<p>Then start your server</p>

<pre><code>rails s Puma
</code></pre>


<h6>better_errors</h6>

<p>Provides a better page for Rails and other Rack apps. Includes sources code inspection, a live REPL and local/instance variable inspection for all stack frames.</p>

<p>After we finish installing beter_errors gem, when the error pages appear, like this:
{<1>}<img src="http://asciicasts.com/system/photos/1446/original/E402I02.png" alt="" />
Woo, It looks very nice, it helps us to find the problems exactly.</p>

<h6>rails_panel</h6>

<p>This is an extension for Chrome which adds a development log withn the brower. As we visit various pages in our application we should see an entry for each one in the panel. This works for AJAX requests too.
{<2>}<img src="http://asciicasts.com/system/photos/1450/original/E402I06.png" alt="" /></p>

<h5>capistrano</h5>

<p>Capistrano gem is a remote server automation tool. It help us to deploy a rails server more convenient.
First, you need to install the gem in your gemfile, and bundle it.</p>

<pre><cod>group :development do
  gem 'capistrano', '~> 3.3.0'
  gem 'capistrano-rails'
  gem 'capistrano-bundler'
end
</code></pre>


<p>The second step is to initiate it.</p>

<pre><code>cap install</code></pre>


<p>The third step, the complicated step, to configure the cap file.</p>

<pre><code># config valid only for current version of Capistrano
lock '3.3.5'

set :application, '[projectname]'
set :repo_url, 'git@github.com:[username]/[projectname].git'

＃ Default branch is :master
＃ ask :branch, proc { `git rev-parse --abbrev-ref HEAD`.chomp }.call

＃ Default deploy_to directory is /var/www/my_app_name
set :deploy_to, '/var/www/[projectname]'

＃ Default value for :scm is :git
set :scm, :git
set :rbenv_type, :system
set :rbenv_path, '/home/deploy/.rbenv'
set :rbenv_ruby, '2.2.0'
set :rbenv_prefix, "RBENV_ROOT=#{fetch(:rbenv_path)} RBENV_VERSION=#{fetch(:rbenv_ruby)} #{fetch(:rbenv_path)}/bin/rbenv exec"
set :rbenv_map_bins, %w{rake gem bundle ruby rails}

set :default_environment, {
    'PATH' => "$HOME/.rbenv/shims:$HOME/.rbenv/bin:$PATH"
}


＃ puma
set :puma_rackup, -> { File.join(current_path, 'config.ru') }
set :puma_state, "#{shared_path}/tmp/pids/puma.state"
set :puma_pid, "#{shared_path}/tmp/pids/puma.pid"
set :puma_bind, "unix://#{shared_path}/tmp/sockets/puma.sock"    #accept array for multi-bind
set :puma_conf, "#{shared_path}/puma.rb"
set :puma_env, fetch(:rack_env, fetch(:rails_env, 'staging'))
set :puma_access_log, "#{shared_path}/log/puma_error.log"
set :puma_error_log, "#{shared_path}/log/puma_access.log"
set :puma_role, :app
set :puma_threads, [0, 16]
set :puma_workers, 0
set :puma_worker_timeout, nil
set :puma_init_active_record, false
set :puma_preload_app, true


＃ Default value for :format is :pretty
＃ set :format, :pretty

＃ Default value for :log_level is :debug
＃ set :log_level, :debug

＃ Default value for :pty is false
＃ set :pty, true

＃ Default value for :linked_files is []
set :linked_files, %w{config/database.yml config/secrets.yml config/env.yml}

＃ Default value for linked_dirs is []
set :linked_dirs, %w{bin log tmp/pids tmp/cache tmp/sockets vendor/bundle public/system public/uploads}

＃ Default value for default_env is {}
＃ set :default_env, { path: "/opt/ruby/bin:$PATH" }

＃ Default value for keep_releases is 5
 set :keep_releases, 5

set :keep_releases, 5

namespace :deploy do

  desc 'Restart application'
  task :restart do
    on roles(:app), in: :sequence, wait: 5 do
    end
  end

  after :restart, :'puma:restart'
  after :publishing, :restart

  after :restart, :clear_cache do
    on roles(:web), in: :groups, limit: 3, wait: 10 do
    end
  end

end

</code></pre>


<p>More details can be found at the following link in our team manual.  <a href="https://zhaozijie.gitbooks.io/intro_rails/content/cong_yi_tai_kong_de_fu_wu_qi_shang_bu_shu_rails_ying_yong.html">https://zhaozijie.gitbooks.io/intro_rails/content/cong_yi_tai_kong_de_fu_wu_qi_shang_bu_shu_rails_ying_yong.html</a></p>

<h5>letter_opener</h5>

<p>When we develop mail features, we always want to preview our mail template, and we don&rsquo;t want to send mail for testing. We use letter_opener gem.</p>

<p>1 Install</p>

<pre><code>gem 'letter_opener' 
</code></pre>


<p>2  Configuration</p>

<p>To set the codes in config/environments/development.rb</p>

<pre><code>config.action_mailer.delivery_method = :letter_opener</code></pre>


<p>Ok, That&rsquo;s it. The email will pop up in your brower, they are stored in tm/letter_openrer.</p>

<h5>rack_mini_profiler</h5>

<p>We use rake_mini_profiler gem to monitor the speed of the rails app.</p>

<p>First, add codes below to gemfile and install</p>

<pre><code>gem 'rack-mini-profiler' </code></pre>


<p>Second, there is no second step if you want :). Restart your server, and visit your app in the brower. You will find the speed data on the top-left of brower. Like this:</p>

<p>{<3>}<img src="/content/images/2015/09/D5059D17-B88F-40B1-9474-B774FC6F3D5E.png" alt="" /></p>

<h5>rack-attack</h5>

<p>We advise you to use the rack-attack gem to protects the rails apps. It allows you to create whitelisting, blacklisting, throttling, and tracking. Let&rsquo;s add the gem to your web apps.</p>

<p>Install, add it to your Gemfile</p>

<pre><code>gem 'rack-attack'</code></pre>


<p>Set configuration in the application.rb</p>

<pre><code># In config/application.rb
config.middleware.use Rack::Attack </code></pre>


<p></p>

<p>Add custom codes to rack-attack.rb</p>

<pre><code># In config/initializers/rack-attack.rb
class Rack::Attack
  # custom codes
  
  #for example, white list
  Rack::Attack.whitelist('allow from localhost') do |req|
    '127.0.0.1' == req.ip
  end
  
  #for example, black list
  Rack::Attack.blacklist('block 1.2.3.4.') do |req|
    '1.2.3.4' == req.ip
  end
end</code></pre>


<p>
About rack-attack, I will give more details in next post.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2015/10/01/integration-elasticsearch-to-rails/">Integration ElasticSearch to Rails</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2015-10-01T11:01:21+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><h3>导言</h3>

<p>  这两天项目要求，把现有的搜索改成ElasticSearch(后面简称es)。之前接触 过一些es，后来就开始捣鼓。记得railcasts上面有讲过相关视频，重温了下就  开始弄，没弄多久发现上面用的<a href="https://github.com/karmi/retire">tire</a>已经retire了。为了让更多的朋友们不走冤枉路，所以才有了此文。</p>

<h3>简介</h3>

<p>  大致说下什么是es，详细的<a href="https://en.wikipedia.org/wiki/Elasticsearch">Wikipedia</a>有介绍。es其实就是一个搜索的引擎，从开源项目lucene出来，lucene是java编写的，比较复杂，要使用它必须了解核心一大堆东西。es就是包装了一层，然后提供RESTFUL API调用，从而让全文搜索变得更加简单。</p>

<h3>过程</h3>

<h5>安装</h5>

<p>  在安装es之前，先安装jdk。
  Mac环境, 运行 <code>brew install elasticsearch</code>, 然后运行<code>elasticsearch --config=/usr/local/opt/elasticsearch/config/elasticsearch.yml</code>启动，访问<a href="http://localhost:9200"> http://localhost:9200</a>，访问成功就表示安装完成了。</p>

<p>  其他环境，访问<a href="http://elasticsearch.org/download">官网</a>相关安装包下载。</p>

<h5>使用</h5>

<p>  在Gemfile中加入</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'> <span class="n">gem</span> <span class="s1">&#39;elasticsearch-model&#39;</span>
</span><span class='line'> <span class="n">gem</span> <span class="s1">&#39;elasticsearch-rails&#39;</span>
</span></code></pre></td></tr></table></div></figure>


<p> 注意：es-model自带了分页插件，如果你在gemfile中有分页，如<code>will_paginate</code> 或者 <code>kaminari</code>，要把他们放到es-model和es-rails的前面。</p>

<p> 在需要添加搜索的model添加以下代码：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'> <span class="k">class</span> <span class="nc">University</span> <span class="o">&lt;</span> <span class="no">ActiveRecord</span><span class="o">::</span><span class="no">Base</span>
</span><span class='line'>   <span class="kp">include</span> <span class="no">Elasticsearch</span><span class="o">::</span><span class="no">Model</span>
</span><span class='line'>   <span class="kp">include</span> <span class="no">Elasticsearch</span><span class="o">::</span><span class="no">Model</span><span class="o">::</span><span class="no">Callbacks</span>
</span><span class='line'> <span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<p> 完成引用后，我们可以编写search方法了：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'> <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">search</span><span class="p">(</span><span class="n">search</span><span class="p">)</span>
</span><span class='line'>    <span class="n">response</span> <span class="o">=</span> <span class="n">__elasticsearch__</span><span class="o">.</span><span class="n">search</span><span class="p">(</span><span class="n">search</span><span class="p">)</span>
</span><span class='line'> <span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<p> 这是一个很简单的search，通过传入的参数直接进行检索。我们可以使用DSL来使我们的检索语句更加满足我们的业务需要，以下是我需要检索一个状态为1，并且从栏目名为name的一个检索:</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'><span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">search_filter</span><span class="p">(</span><span class="n">params</span><span class="p">)</span>
</span><span class='line'>  <span class="n">response</span> <span class="o">=</span> <span class="n">__elasticsearch__</span><span class="o">.</span><span class="n">search</span><span class="p">(</span>
</span><span class='line'>      <span class="s2">&quot;query&quot;</span><span class="p">:</span> <span class="p">{</span>
</span><span class='line'>        <span class="s2">&quot;filtered&quot;</span><span class="p">:</span> <span class="p">{</span>
</span><span class='line'>          <span class="s2">&quot;filter&quot;</span><span class="p">:</span>   <span class="p">{</span>
</span><span class='line'>            <span class="s2">&quot;bool&quot;</span><span class="p">:</span> <span class="p">{</span>
</span><span class='line'>              <span class="s2">&quot;must&quot;</span><span class="p">:</span>     <span class="p">{</span> <span class="s2">&quot;term&quot;</span><span class="p">:</span>  <span class="p">{</span> <span class="s2">&quot;status&quot;</span><span class="p">:</span> <span class="mi">1</span> <span class="p">}},</span>
</span><span class='line'>              <span class="s2">&quot;must&quot;</span><span class="p">:</span> <span class="p">{</span>
</span><span class='line'>                <span class="s2">&quot;query&quot;</span><span class="p">:</span> <span class="p">{</span>
</span><span class='line'>                  <span class="s2">&quot;match&quot;</span><span class="p">:</span> <span class="p">{</span> <span class="s2">&quot;name&quot;</span><span class="p">:</span> <span class="n">params</span> <span class="p">}</span>
</span><span class='line'>                <span class="p">}</span>
</span><span class='line'>              <span class="p">}</span>
</span><span class='line'>            <span class="p">}</span>
</span><span class='line'>          <span class="p">}</span>
</span><span class='line'>        <span class="p">}</span>
</span><span class='line'>      <span class="p">}</span>
</span><span class='line'>    <span class="p">)</span>
</span><span class='line'><span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<p>关于es的DSL更多写法，大家可以访问<a href="https://www.elastic.co/guide/en/elasticsearch/guide/current/_most_important_queries_and_filters.html">这里</a>。里面详细的讲解了query,filter等一些常用查询，大家可以根据业务需要自行改装。</p>

<p> 然后我们为model创建index, 主要给es使用：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'> <span class="n">mapping</span> <span class="ss">dynamic</span><span class="p">:</span> <span class="kp">false</span> <span class="k">do</span>
</span><span class='line'>   <span class="n">indexes</span> <span class="ss">:name</span>
</span><span class='line'>   <span class="n">indexes</span> <span class="ss">:tag</span>
</span><span class='line'> <span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<p> 我们继续往下走，model是可以serialized成json的，我们使用<code>as_indexed_json</code>这个方法。我们可以这样写：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'> <span class="k">def</span> <span class="nf">as_indexed_json</span><span class="p">(</span><span class="n">options</span><span class="o">=</span><span class="p">{})</span>
</span><span class='line'>   <span class="nb">self</span><span class="o">.</span><span class="n">as_json</span><span class="p">(</span>
</span><span class='line'>     <span class="ss">only</span><span class="p">:</span> <span class="o">[</span><span class="ss">:id</span><span class="p">,</span> <span class="ss">:name</span><span class="p">,</span> <span class="ss">:description</span><span class="p">,</span> <span class="ss">:status</span><span class="o">]</span><span class="p">,</span>
</span><span class='line'>     <span class="kp">include</span><span class="p">:</span> <span class="p">{</span> <span class="ss">tags</span><span class="p">:</span> <span class="p">{</span> <span class="ss">only</span><span class="p">:</span> <span class="o">[</span><span class="ss">:name</span><span class="o">]</span><span class="p">}}</span>
</span><span class='line'>   <span class="p">)</span>
</span><span class='line'> <span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<p> <code>include</code>的部分是处理association的，<code>only</code>是model本身的字段属性。完成了以上调整，我们的model搜索基本完成了。如果你现在使用搜索，我估计还是搜索不出数据。我们要把数据导入给es，使用这个命令</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='bash'><span class='line'> rake environment elasticsearch:import:model <span class="nv">CLASS</span><span class="o">=</span><span class="s1">&#39;your_model_name&#39;</span> <span class="nv">FORCE</span><span class="o">=</span>y
</span></code></pre></td></tr></table></div></figure>


<p>好啦。基本就完成。es默认自带中文分词，但是有些posts反馈说不大好用，可以使用<a href="https://github.com/medcl/elasticsearch-rtf">es-rtf</a>，集成了中文的分词插件，下载直接可以用。必须要安装jdk，里面有详尽的使用方法。</p>

<h3>相关资料</h3>

<p>gem的<a href="https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-model">README</a>,有耐心慢慢看可以了解很多</p>

<p>一些快速的tutorial</p>

<p><a href="http://www.sitepoint.com/full-text-search-rails-elasticsearch/">http://www.sitepoint.com/full-text-search-rails-elasticsearch/</a>
<a href="http://aaronvb.com/articles/intro-to-elasticsearch-ruby-on-rails-part-1.html">http://aaronvb.com/articles/intro-to-elasticsearch-ruby-on-rails-part-1.html</a>
<a href="http://www.spacevatican.org/2012/6/3/fun-with-elasticsearch-s-children-and-nested-documents/">http://www.spacevatican.org/2012/6/3/fun-with-elasticsearch-s-children-and-nested-documents/</a></p>

<p>可以了解，railcast的es介绍 <a href="http://railscasts.com/episodes/306-elasticsearch-part-1">http://railscasts.com/episodes/306-elasticsearch-part-1</a></p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2015/09/30/i-am-back-again/">I Am Back Again</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2015-09-30T17:36:05+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>I'am back again with more passion and creative. I will record my life and code posts in here.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2015/09/01/dev-plan/">Dev Plan</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2015-09-01T10:53:00+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><h3>blablacar</h3>

<ul>
<li><p>Add blog features? is it nessessary?</p></li>
<li><p>public access</p></li>
</ul>


<h3>bims</h3>

<ol>
    <li>Add account UI</li>
    <li>Account CRUD</li>
    <li>Add apple developer ios certifile </li>
</ol>


<h3>my store</h3>

<p>Helping Clare building a cake online store, to learn how to extend the spree framework.Today tasks are below</p>

<ol>
<li>change logo</li>
<li>change store name</li>
<li>search a bakery bootstrap template to custome the page</li>
</ol>



</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2015/07/29/mess/">Mess, Running</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2015-07-29T22:31:00+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><h3>About Mess</h3>

<p>Today devotional is about Whose mess, it descrips some mess form our spiritually sense. It teaches us that do not judge people, cause we usually ignore our sin instead other&rsquo;s sin.</p>

<h3>Running</h3>

<p>I run today, but I don&rsquo;t want to run before. I run so fast today, I think the reason is that i didnot run so long time. Feeling so good after running.</p>

<h3>Exploitting market</h3>

<p>How to exploit market? The biggest problem after your company starts business. I wrote down some key points after conclued below</p>

<ul>
<li>The product is the important thing, you must understand the selling points about products clearly.</li>
<li>Introduction your businesses to freinds or clients who worked before, telling them what they got it from products, the product how to solve their problems.</li>
<li>You need a website to present the product demo.</li>
</ul>

</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2014/11/28/subdomaininrails4/">Subdomaininrails4</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-11-28T17:27:00+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>Today, i&rsquo;ll blog something about subdomain in rails4.</p>

<h1>subdomain.rb</h1>

<p>you should add sobdomain.rb</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>class
</span><span class='line'>  def 
</span><span class='line'>      
</span><span class='line'>  end
</span><span class='line'>end</span></code></pre></td></tr></table></div></figure>



</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2014/11/28/hello-again/">Hello Again</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-11-28T17:16:00+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>hello, again.
From now no, i&rsquo;ll blog again.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2014/11/28/some-change-subdomain-in-rails4/">Some Change Subdomain in Rails4</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-11-28T16:53:00+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>in rails4, when i add subdomain in libs, but it doesn&rsquo;t work. so i add subdomain in route.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2014/11/28/find-by-in-rails4/">Find by in Rails4</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-11-28T16:30:00+08:00" pubdate data-updated="true"></time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>In rails4, you should need to code like this when you need to find by *</p>

<p>Blog.find_by subdomain: request.subdomain</p>
</div>
  
  


    </article>
  
  <div class="pagination">
    
    <a href="/blog/archives">Blog Archives</a>
    
  </div>
</div>
<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2015/10/01/some-common-gems-for-we-build-ruby-on-rails-applications/">Some common gems for we build Ruby on Rails applications</a>
      </li>
    
      <li class="post">
        <a href="/blog/2015/10/01/integration-elasticsearch-to-rails/">Integration ElasticSearch to Rails</a>
      </li>
    
      <li class="post">
        <a href="/blog/2015/09/30/i-am-back-again/">I am back again</a>
      </li>
    
      <li class="post">
        <a href="/blog/2015/09/01/dev-plan/">Dev Plan</a>
      </li>
    
      <li class="post">
        <a href="/blog/2015/07/29/mess/">mess, running</a>
      </li>
    
  </ul>
</section>





  
</aside>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2015 - Your Name -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
